.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}
.item-container {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  max-width: 80%;

  .item-image {
    width: 300px;
    height: 300px;
  }
  .price {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0px;
  }
  .dec {
    margin-top: 10px;
    font-size: 12px;
    padding: 20px 10px;
  }
  .button-div {
    text-align: start;
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  .item-details {
    display: flex;
    gap: 20px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .item-info {
    margin-left: 20px;
  }
  .item-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .section {
    width: 100%;
    height: 100%;
    .item-details {
      display: flex;
      flex-direction: column;
    }
    .item-container {
      margin: 10px;
      padding: 0px;
    }
    .item-image {
      width: 150px;
      height: 150px;
      text-align: center;
    }
    h2 {
      font-size: 20px;
    }
    .dec {
      margin-top: 5px;
      font-size: 12px;
      padding: 20px 10px;
    }
  }
}
